body {
  background-image: linear-gradient(rgb(105, 102, 102) , rgb(10, 9, 9) );
}
div {
   display: flex;


}
h1 {

   background-image: linear-gradient(rgb(26, 12, 12) ,black);
   color: rgb(255, 231, 13);
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#player {
   width: 50px;
   height: 50px;
   position: absolute;
}

main {
   display: flex;
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;

   align-items: center;
}

.currentRow {
   display: flex;
   flex-direction: row;
}

.wallStop {
   height: 50px;
   width: 50px;
   background: rgba(116, 61, 5, 0.685);
}

#start {
   height: 50px;
   width: 50px;
}

.walkWay {
   height: 50px;
   width: 50px;
   background-image: radial-gradient(rgb(37, 32, 32),rgba(0, 0, 0, 0.623) );
}

.boxHolder {
   height: 50px;
   width: 50px;
   background-image: url(Sokobanpack/PNG/EndPoint_Gray.png);
   background-size: cover;
   background-repeat: no-repeat;
}

.box {
   height: 50px;
   width: 50px;
   background-image: url(Sokobanpack/PNG/Crate_Black.png);
   background-size: cover;
   background-repeat: no-repeat;

}